<div class="container">

<header class="title">
 <img src="../../assets/logo.png" alt="">   
<h1>
    Ambrosio Bank
</h1>
</header>
<div class="conteudo">
<main>
    <h1>Bem vindo ao Banco Ambrosio</h1>
    <h2>Ficamos felizes que você queira abrir uma conta conosco</h2>
    <label for="cpf">Digite seu CPF para iniciar</label>
    <input type="text" name="cpf" mask="000.000.000-00" />
    <button>continuar</button>
</main>

<div class="image">
    <img src="../../assets/imangem-home.avif" alt="">
</div>
</div>
</div>